#content-list{
    padding-top: 2em;
    
    ul{
        padding: 0;
    }

    section{
        margin-top: 1.4em;
    }

    h2{
        font-weight: bold;
        font-size: 1.4em;
        color: #555;
        text-align: center;
        &:hover{
            color: #000;
        }
    }
    
    .transition {
        transition: all .7s ease-out;
    }

    header{
        font-size: .8em;
        text-align: center;
    }

    .tags{
        display: inline-block;
        margin-right: 5px;
        margin-top: 1.5em;
        span {
            padding: 2px 10px 2px 8px;
            border-radius: 3px 0 0 3px;
            color: #fff;
            background-color: rgb(80, 139, 216);
        }
        a {
            padding: 1px 6px;
            background-color: #fafafa;
            border-left: 1px solid #dadada;
            border-right: 1px solid #c5c5c5;
            border-top: 1px solid #dadada;
            border-bottom: 1px solid #d2d2d2;
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
    }

    summary{
        margin-top: 2em;
        font-size: .9em;
        color: #555;
        line-height: 1.3em;
    }

    .hr{
        margin: 5em auto;
    }
}

#pagination {
    margin:2.5em 0 1.5em 0;
    list-style: none;
    text-align: center;

    .disabled {
        cursor: not-allowed;
    }
    .page {
        display: inline-block;
        margin: .5em;
        padding: .3em;
        border-radius: 50%;
        border: 1px solid #ddd;
        width: 1.4em;
        height: 1.4em;
        font-size: .7em;
        color: rgb(80, 139, 216);
        line-height: 1.4em;
    }
    .current {
        color: #fff;
        background: rgb(80, 139, 216);
    }
    .active {
        cursor: pointer;
        &:hover{
            background:#ddd;
        }
    }
    .disabled{
        cursor:not-allowed
    }
}